<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarRental.Frontend</title>
    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/daterangepicker.min.js")"></script>
    <link href="@Url.Content("~/css/daterangepicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/essentials.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/layout.css")" rel="stylesheet" />    
    <link href="@Url.Content("~/assets/css/header-1.css")" rel="stylesheet" />    
    <link href="@Url.Content("~/assets/css/color_scheme/green.css")" rel="stylesheet" />    
    @RenderSection("Styles", false)
</head>
<body>
    <div id="header" class="navbar-toggleable-md sticky clearfix fixed" style="z-index: 999999;">
        <header id="topNav">
            <div class="container">
                <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="logo float-left" href="index.html">
                    <img src="assets/images/_smarty/logo_dark.png" alt="" />
                </a>
                <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                    <nav class="nav-main">
                        <ul id="topMain" class="nav nav-pills nav-main">
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#">
                                    HOME
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#">
                                            HOME CORPORATE
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index-corporate-1.html">CORPORATE LAYOUT 1</a></li>
                                            <li><a href="index-corporate-2.html">CORPORATE LAYOUT 2</a></li>
                                            <li><a href="index-corporate-3.html">CORPORATE LAYOUT 3</a></li>
                                            <li><a href="index-corporate-4.html">CORPORATE LAYOUT 4</a></li>
                                            <li><a href="index-corporate-5.html">CORPORATE LAYOUT 5</a></li>
                                            <li><a href="index-corporate-6.html">CORPORATE LAYOUT 6</a></li>
                                            <li><a href="index-corporate-7.html">CORPORATE LAYOUT 7</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#">
                                            HOME PORTFOLIO
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index-portfolio-1.html">PORTFOLIO LAYOUT 1</a></li>
                                            <li><a href="index-portfolio-2.html">PORTFOLIO LAYOUT 2</a></li>
                                            <li><a href="index-portfolio-masonry.html">PORTFOLIO MASONRY</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#">
                                            HOME BLOG
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index-blog-1.html">BLOG LAYOUT 1</a></li>
                                            <li><a href="index-blog-2.html">BLOG LAYOUT 2</a></li>
                                            <li><a href="index-blog-3.html">BLOG LAYOUT 3</a></li>
                                            <li><a href="index-blog-4.html">BLOG LAYOUT 4</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#">
                                    PAGES
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#">
                                            MISCELLANEOUS
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="portfolio-single-project.html">PROJECT PAGE</a></li>
                                            <li><a href="page-category.html">CATEGORY PAGE</a></li>
                                            <li><a href="page-cookie-alert.html">COOKIE ALERT</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#">
                                            ABOUT
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="page-about-us-1.html">ABOUT US - LAYOUT 1</a></li>
                                            <li><a href="page-about-us-2.html">ABOUT US - LAYOUT 2</a></li>
                                            <li><a href="page-about-us-3.html">ABOUT US - LAYOUT 3</a></li>
                                            <li><a href="page-about-us-4.html">ABOUT US - LAYOUT 4</a></li>
                                            <li><a href="page-about-us-5.html">ABOUT US - LAYOUT 5</a></li>
                                            <li><a href="page-about-me-1.html">ABOUT ME - LAYOUT 1</a></li>
                                            <li><a href="page-about-me-2.html">ABOUT ME - LAYOUT 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>
    
    @RenderBody()
    <footer id="footer" class="footer-light">
	<div class="container pt-0 pb-0">

		<div class="row mt-60 mb-0 fs-13">

			<!-- col #1 -->
			<div class="col-md-4 col-sm-4 mb-0">

				<!-- Footer Logo -->
				<img class="footer-logo" src="assets/images/_smarty/logo-footer.png" alt="" />

				<p>
					Test.
				</p>

				<h2>02 2783 5222</h2>

				<!-- Social Icons -->
				<div class="clearfix">

					<a href="#" class="social-icon social-icon-sm social-icon-border social-facebook float-left" data-toggle="tooltip" data-placement="top" title="Facebook">
						<i class="icon-facebook"></i>
						<i class="icon-facebook"></i>
					</a>

					<a href="#" class="social-icon social-icon-sm social-icon-border social-twitter float-left" data-toggle="tooltip" data-placement="top" title="Twitter">
						<i class="icon-twitter"></i>
						<i class="icon-twitter"></i>
					</a>

					<a href="#" class="social-icon social-icon-sm social-icon-border social-gplus float-left" data-toggle="tooltip" data-placement="top" title="Google plus">
						<i class="icon-gplus"></i>
						<i class="icon-gplus"></i>
					</a>

					<a href="#" class="social-icon social-icon-sm social-icon-border social-linkedin float-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
						<i class="icon-linkedin"></i>
						<i class="icon-linkedin"></i>
					</a>

					<a href="#" class="social-icon social-icon-sm social-icon-border social-rss float-left" data-toggle="tooltip" data-placement="top" title="Rss">
						<i class="icon-rss"></i>
						<i class="icon-rss"></i>
					</a>

				</div>
				<!-- /Social Icons -->

			</div>
			<!-- /col #1 -->

			<!-- col #2 -->
			<div class="col-md-8 col-sm-8 mb-0">

				<div class="row">

					<div class="col-md-5 hidden-sm hidden-xs-down">
						<h4 class="letter-spacing-1">RECENT NEWS</h4>
						<ul class="list-unstyled footer-list half-paddings">
							<li>
								<a class="block" href="#">New CSS3 Transitions this Year</a>
								<small>June 29, 2017</small>
							</li>
							<li>
								<a class="block" href="#">Inteligent Transitions In UX Design</a>
								<small>June 29, 2017</small>
							</li>
							<li>
								<a class="block" href="#">Lorem Ipsum Dolor</a>
								<small>June 29, 2017</small>
							</li>
							<li>
								<a class="block" href="#">New CSS3 Transitions this Year</a>
								<small>June 29, 2017</small>
							</li>
						</ul>
					</div>

					<div class="col-md-3 hidden-sm hidden-xs-down">
						<h4 class="letter-spacing-1">EXPLORE US</h4>
						<ul class="list-unstyled footer-list half-paddings b-0">
							<li><a class="block" href="#"><i class="fa fa-angle-right"></i> About Us</a></li>
							<li><a class="block" href="#"><i class="fa fa-angle-right"></i> About Me</a></li>
							<li><a class="block" href="#"><i class="fa fa-angle-right"></i> About Our Team</a></li>
							<li><a class="block" href="#"><i class="fa fa-angle-right"></i> Services</a></li>
							<li><a class="block" href="#"><i class="fa fa-angle-right"></i> Careers</a></li>
							<li><a class="block" href="#"><i class="fa fa-angle-right"></i> Gallery</a></li>
							<li><a class="block" href="#"><i class="fa fa-angle-right"></i> FAQ</a></li>
						</ul>
					</div>

					<div class="col-md-4 mb-0">
						<h4 class="letter-spacing-1">SECURE PAYMENT</h4>
						<p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet.</p>
						<p>	<!-- see assets/images/_smarty/cc/ for more icons -->
							<img src="assets/images/_smarty/cc/Visa.png" alt="" />
							<img src="assets/images/_smarty/cc/Mastercard.png" alt="" />
							<img src="assets/images/_smarty/cc/Maestro.png" alt="" />
							<img src="assets/images/_smarty/cc/PayPal.png" alt="" />
						</p>
					</div>

				</div>

			</div>
			<!-- /col #2 -->

		</div>

	</div>

	<div class="copyright">
		<div class="container">
			<ul class="float-right m-0 list-inline mobile-block">
				<li><a href="#">Terms &amp; Conditions</a></li>
				<li>•</li>
				<li><a href="#">Privacy</a></li>
			</ul>
			© All Rights Reserved, Company LTD
		</div>
	</div>
</footer>
    <script type="text/javascript">var plugin_path = '@Url.Content("~/assets/plugins/")';</script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/js/scripts.js")"></script>
    <script src="@Url.Content("~/js/site.js")"></script>
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" />
    @await RenderSectionAsync("Scripts", required: false)
    @* <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAerAi8TQQPGAZSG-IDzjIM2tsh5Ai2QEk&callback=initMap&libraries=places,geometry&solution_channel=GMP_QB_locatorplus_v4_cA" async defer></script> *@
</body>
</html>
