@model UserCheckModel

@if(this.Model.IsUser)
{

    <div class="box-title mb-30">
        <h2 class="fs-20">請輸入密碼</h2>
    </div>
    <form id="postForm" class="sky-form" method="post" autocomplete="off">
        @Html.HiddenFor(m => m.Phone)
        <label>帳號</label>
        <label class="input mb-10">
            <i class="ico-append fa fa-mobile"></i>
            <input id="Phone" name="Phone" required="true" type="phone" value="@this.Model.Phone" disabled>
            <b class="tooltip tooltip-bottom-right">請輸入您的登入帳號</b>
        </label>
        <label>密碼</label>
        <label class="input mb-10">
            <i class="ico-append fa fa-lock"></i>
            <input id="Pwd" name="Pwd" type="password" required="true" autofocus>
            <b class="tooltip tooltip-bottom-right">請輸入您的密碼</b>
        </label>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-6"></div>
            <div class="col-md-6 col-sm-6 col-6 text-right">
                <button class="btn btn-primary" type="button" onclick="login()"> 登入 </button>
            </div>
        </div>
    </form>
}
else
{
    <div class="box-title mb-30">
        <h2 class="fs-20">帳號註冊</h2>
    </div>
    <form id="postForm" class="sky-form" method="post">
        @Html.HiddenFor(m => m.Phone)
        <label>姓名</label>
        <label class="input mb-10">
            <input id="Name" type="text" name="Name" placeholder="請務必輸入真實姓名" autocomplete="nope" autofocus maxlength="4">
        </label>
        <label>帳號</label>
        <label class="input mb-10">
            <input required="true" type="phone" value="@this.Model.Phone" disabled style="background-color: #EEEEEE;">
        </label>
        <label>密碼</label>
        <div class="row mb-10">
            <div class="col-md-6">
                <label class="input">
                    <input id="Pwd" name="Pwd" type="password" placeholder="請輸入密碼" autocomplete="off">
                </label>
            </div>
            <div class="col col-md-6">
                <label class="input">
                    <input id="Pwd-Check" type="password" placeholder="確認密碼">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-6"></div>
            <div class="col-md-6 col-sm-6 col-6 text-right">
                <button class="btn btn-primary" type="button" onclick="register()"> 註冊 </button>
            </div>
        </div>
    </form>
}
 
<script type="text/javascript" charset="utf-8">
    function register()
    {
        $("#error").hide();
        if($("#Pwd").val() != $("#Pwd-Check").val())
        {
            showError('密碼不相符');
        }
        if($("#Name").val()=='')
        {
            showError('請輸入姓名');
        }
        if($("#Pwd").val()=='')
        {
            showError('請輸入密碼');
        }
        var formData = new FormData($("#postForm")[0]);
        $.ajax({
            type: "POST",
            url: "@Url.Action("Register","User")",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                window.location.href = '@Url.Action("phone", "verify")';
            },
            error: function (data, textStatus) {
                var err = JSON.parse(data.responseText);
                showError(err.message);
            },
        })
    }

    function login()
    {
        $("#error").hide();
        var formData = new FormData($("#postForm")[0]);
        $.ajax({
            type: "POST",
            url: "@Url.Action("Login","User")",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                window.location.href = '@Url.Action("index", "home")';
            },
            error: function (data, textStatus) {
                var err = JSON.parse(data.responseText);
                showError(err.message);
            },
        })
    }
</script>